<section class="hero is-info">
  <div class="hero-body">
    <p class="title">
      {{group.group_name}}
    </p>
    <p class="subtitle">
      Created by: {{group.user.username}}
    </p>
  </div>
</section>
<div class="columns m-5">

    {{!-- Group Posts --}}

    {{!-- this does not work properly yet!!! --}}
    <div id="groupPosts" class="column is-two-thirds">
        {{#if groupPosts.length}}
        {{#each groupPosts as |post|}}
        <div class="postTitleBox p-3 my-3 is-flex is-justify-content-space-between">

            <a href="/api/posts/{{post.id}}"><strong>{{post.title}}</strong></a>
            <div>
                <small>By {{post.user.username}} | {{format_date post.createdAt}}</small>
            </div>

        </div>
        {{/each}}
        {{else}}
        <p>No posts yet... stay tuned!!</p>
        {{/if}}

        <a href="/dashboard/newpost"><button class="button is-danger" id="newPostBttn">Create New Post</button></a>

    </div>



    {{!-- Group Members --}}
    <div id="groupMembers" class="column is-4 p-3 my-3">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Group Members</th>
                </tr>
            </thead>

            <tbody>
                {{#if group.user_groups.length}}
                {{#each group.user_groups as |user_group|}}
                <tr>
                    <td>{{user_group.user.username}}</td>
                </tr>
                {{/each}}
                {{/if}}

            </tbody>

        </table>
        {{#if adminCheck}}
        <form id="addMemberForm" action="submit">
            <div class="field has-addons">
                <div class="control">
                    <input id="newMemberField" class="input" type="text" placeholder="Add a Member">
                </div>
                <div class="control">
                    <button type="submit" class="button is-info">
                        Search
                    </button>
                </div>
            </div>
        </form>
        <div>Or</div>
        <form id="deleteGroupForm" action="submit">
            <button type="submit" class="button is-danger">DELETE GROUP</button>
        </form>
        <script src="/js/groupsHandlers/addGroupMemberHandler.js"></script>
        <script src="/js/groupsHandlers/deleteGroupHandler.js"></script>
        {{else}}
        <form id="leaveGroupForm" action="submit">
            <button type="submit" class="button is-danger">LEAVE GROUP</button>
        </form>
        {{/if}}
    </div>

</div>