{{#if userGroups.length}}
{{#each userGroups as |group|}}

<div id="mainPage-flex">
    <div class="card m-4 p-3 has-text-centered" id="mainPage-box">
        <a href="api/groups/{{group.group_id}}"><p class="has-text-weight-semibold is-size-4 pb-2">{{group.group.group_name}}</p>
        <p>Admin: {{group.group.user.username}} | Created on {{format_date group.group.createdAt}}</p></a>
    </div>
</div>
{{/each}}
{{else}}

<h4 class="text-center">There are no groups yet!</h4>

{{/if}}

